h2 {
    color: #e5e5e5;
}

.row {
    width: 100%;
}

.row_poster {
    /* width: 100%;*/
    object-fit: contain;
    max-height: 100px;
    transition: transform 500ms;
    padding: 5px;
}

.row_poster:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.row_posters {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
}

.row_poster_large {
    max-height: 250px;
}

.row_poster_large:hover {
    transform: scale(1.09);
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.swiper {
    width: 1900px;
}

